.navbar{
	
}

.navbar-brand{
	margin: 5px 5px 15px;
}

#magas{
	background-color: #F0EFF4;
	padding: 300px 0;
}

#magas h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#magas h2{
	font-family: 'PT Serif', serif;
}

#magasbox{
	background-color: #DBD1DB;
	border-radius: 10px;
	padding: 200px 50px;
}

#proyecto{
	padding: 150px 0 150px;
}

#proyecto h2{
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-style: italic;
}

#proyecto p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.card{
	border: none;
	background-color: transparent;
}

.card-body{
	background-color: #ECE5E7;
	border-radius: 8px;
	box-shadow: 5px 5px 5px #DBD1DB;
}

.cards{
	color: black;
	font-family: 'PT Serif', serif;
	font-style: italic;
}

.cards:hover{
	color: #ae98ae;
	text-decoration: none;
}

#título{
	background-color: #ECE5E7;
	padding: 150px 0;
}

#título h2{
	font-family: 'PT Serif', serif;
	font-weight: bold;
	font-style: italic;
}

#título a{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#terapias{
	padding: 150px 0;
}

#terapias h2{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

#list-tab{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

#nav-tabContent{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#aromaterapia{
	padding: 150px 0;
}

#aromaterapia h2{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

#círculos{
	padding: 150px 0;
}

#círculos h2{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

#círculos p{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

#ult{
	padding: 150px 0;
}

#footer{
	background-color: #F0EFF4;
	padding: 80px 0 10px;
}

#footer1 h5{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

#footer1 form{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.arriba{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}

.abajo{
	font-family: 'PT Serif', serif;
	font-weight: bold;
}

.footer2{
	background-color: transparent;
	border: none;
}

#links{
	color: black;
}

#links:hover{
	color: purple;
	text-decoration: none;
}

.btn{
	background-color: #DBD1DB;
}

.list-group-item.active{
	background-color: #DBD1DB;
	border-color: #DBD1DB;

}
